.App {
  text-align: center;
}

.tabs {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}

.tabs li {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-bottom: none;
  margin-right: 5px;
  border-radius: 5px 5px 0 0;
}

.tabs li.active {
  background-color: #eee;
  border-bottom: 1px solid #eee;
}
